body{
    background-image: url("weather.avif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #577260;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherform{
    margin: 20px;
}
.cityinput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 260px;
}
button[type='submit']{
    padding: 20px;
    font-weight: bold;
    font-style: 2rem;
    background-color: hsl(172, 68%, 25%);
    color: wheat;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
button[type='submit']:hover{
    background-color: hsl(122, 39%, 40%);
}
.card{
    background: linear-gradient(180deg,rgba(0, 174, 255, 0.705),rgb(228, 181, 95));
    padding: 50px;
    box-shadow: 2px 2px 5px rgb(34, 34, 34);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 23px;

}
p{
    font-size: 1.3rem;
    margin: 5px 0;
}
.citydisplay, .temdisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 23px;
}
.descdisplay{
    font-weight: bold;
    margin-bottom: 23px;
}
.humiditydisplay{
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
}
.weatheremojie{
    margin: 0;
    font-size: 7.5rem;
}
.errordisplay{
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}
.inputwbut{
    display: flex;
    align-items: center;
}